.app {
  display: flex;
  width: 800px;
  height: 500px;
  padding: 30px;
  font-size: 14px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main .request-list{
  flex: 1;
}

.aside{
  width: 350px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.aside .info-panel{
  flex: 1;
}